#### step 1: import package

In [1]:
import pandas as pd
import numpy as np

#### step 2: load data

In [4]:
df = pd.read_csv('train.csv')
df.head(18)

,Date,stations,observation,0,1,2,3,4,5,6,...,14,15,16,17,18,19,20,21,22,23
0,2014/1/1,station,AMB_TEMP,14,14,14,13,12,12,12,...,22,22,21,19,17,16,15,15,15,15
1,2014/1/1,station,CH4,1.8,1.8,1.8,1.8,1.8,1.8,1.8,...,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8
2,2014/1/1,station,CO,0.51,0.41,0.39,0.37,0.35,0.3,0.37,...,0.37,0.37,0.47,0.69,0.56,0.45,0.38,0.35,0.36,0.32
3,2014/1/1,station,NMHC,0.2,0.15,0.13,0.12,0.11,0.06,0.1,...,0.1,0.13,0.14,0.23,0.18,0.12,0.1,0.09,0.1,0.08
4,2014/1/1,station,NO,0.9,0.6,0.5,1.7,1.8,1.5,1.9,...,2.5,2.2,2.5,2.3,2.1,1.9,1.5,1.6,1.8,1.5
5,2014/1/1,station,NO2,16,9.2,8.2,6.9,6.8,3.8,6.9,...,11,11,22,28,19,12,8.1,7,6.9,6
6,2014/1/1,station,NOx,17,9.8,8.7,8.6,8.5,5.3,8.8,...,14,13,25,30,21,13,9.7,8.6,8.7,7.5
7,2014/1/1,station,O3,16,30,27,23,24,28,24,...,65,64,51,34,33,34,37,38,38,36
8,2014/1/1,station,PM10,56,50,48,35,25,12,4,...,52,51,66,85,85,63,46,36,42,42
9,2014/1/1,station,PM2.5,26,39,36,35,31,28,25,...,36,45,42,49,45,44,41,30,24,13
10,2014/1/1,station,RAINFALL,NR,NR,NR,NR,NR,NR,NR,...,NR,NR,NR,NR,NR,NR,NR,NR,NR,NR
11,2014/1/1,station,RH,77,68,67,74,72,73,74,...,47,49,56,67,72,69,70,70,70,69
12,2014/1/1,station,SO2,1.8,2,1.7,1.6,1.9,1.4,1.5,...,3.9,4.4,9.9,5.1,3.4,2.3,2,1.9,1.9,1.9
13,2014/1/1,station,THC,2,2,2,1.9,1.9,1.8,1.9,...,1.9,1.9,1.9,2.1,2,1.9,1.9,1.9,1.9,1.9
14,2014/1/1,station,WD_HR,37,80,57,76,110,106,101,...,307,304,307,124,118,121,113,112,106,110
15,2014/1/1,station,WIND_DIREC,35,79,2.4,55,94,116,106,...,313,305,291,124,119,118,114,108,102,111
16,2014/1/1,station,WIND_SPEED,1.4,1.8,1,0.6,1.7,2.5,2.5,...,2.5,2.2,1.4,2.2,2.8,3,2.6,2.7,2.1,2.1
17,2014/1/1,station,WS_HR,0.5,0.9,0.6,0.3,0.6,1.9,2,...,2.1,2.1,1.9,1,2.5,2.5,2.8,2.6,2.4,2.3

In [9]:
df1 = df[df['observation'] == 'PM2.5']
df1.head()

,Date,stations,observation,0,1,2,3,4,5,6,...,14,15,16,17,18,19,20,21,22,23
9,2014/1/1,station,PM2.5,26,39,36,35,31,28,25,...,36,45,42,49,45,44,41,30,24,13
27,2014/1/2,station,PM2.5,21,23,30,30,22,18,13,...,53,43,43,45,46,32,16,19,22,26
45,2014/1/3,station,PM2.5,19,25,27,20,16,14,15,...,32,36,34,45,40,41,23,29,23,37
63,2014/1/4,station,PM2.5,27,27,14,20,22,24,26,...,62,55,56,67,78,83,90,75,85,82
81,2014/1/5,station,PM2.5,80,80,76,81,75,66,70,...,64,73,57,57,53,70,70,60,68,66

In [11]:
df2 = df1.iloc[:, 3: ]
df2.head()

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
9,26,39,36,35,31,28,25,20,19,30,...,36,45,42,49,45,44,41,30,24,13
27,21,23,30,30,22,18,13,13,11,22,...,53,43,43,45,46,32,16,19,22,26
45,19,25,27,20,16,14,15,8,4,9,...,32,36,34,45,40,41,23,29,23,37
63,27,27,14,20,22,24,26,33,48,50,...,62,55,56,67,78,83,90,75,85,82
81,80,80,76,81,75,66,70,65,66,57,...,64,73,57,57,53,70,70,60,68,66

**There are 24 features in one day, we need split it to 10 continuous features. 24-10+1 = 15**

In [12]:
X_train = []
y_train = []
for i in range(15):

240